# Roll_number - E21028 - Yogesh Babu

In [1]:
#importing package
import os
import numpy as np
import pandas as pd

In [2]:
#importing CSV file from local machine
os.chdir(r'C:\Users\Yogesh\Downloads') # Changing Directory
o = pd.read_csv('cars.csv')                                                       # opening CSV file
o

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [3]:
#standarising the data usins (x-mean) / standard deviation
r  = round((o - o.mean())/o.std(),2)

In [4]:
#Choosing the predictors  variable
C = r[['Displacement','Weight','Acceleration','Horsepower']]

In [5]:
#Choosing the Target variable
T =   C.assign(MPG = o.iloc[:,1])

In [6]:
# shuffling the data avaiable
New_dataframe = T.sample(406)
New_dataframe

     Displacement  Weight  Acceleration  Horsepower   MPG
322         -0.42    0.03          1.63       -0.33  24.3
194          1.05    1.46         -0.90        0.90  17.5
98           1.96    1.75         -1.26        1.15  13.0
347         -0.37   -0.42         -0.40       -0.28  25.8
197          1.49    1.46         -0.97        1.20  14.5
..            ...     ...           ...         ...   ...
132          0.03    0.14          0.35       -0.21  20.0
125         -0.75   -0.97         -0.01       -0.70  24.0
163          1.96    1.99         -1.43        1.64  16.0
399         -0.57   -0.72         -0.90       -0.48  36.0
17           1.02    0.44         -2.68        0.90   0.0

[406 rows x 5 columns]

In [24]:
x_train = New_dataframe.iloc[0:300,0:4]            # ilocing 300 observation to train machine
x_test = New_dataframe.iloc[301:407,0:4]           # ilocing 106 observation for testing with 4 variable
y_train = New_dataframe.iloc[0:300,[4]]            # ilocing 300 observation for crossponding x_train MPG is stored
y_test = New_dataframe.iloc[301:407,[4]]           # ilocing 106 observation for crossponding x_test MPG is stored to accurancy of the model

In [25]:
# Eculiden Distance Function has been created
def e(x,y):
    d = np.sqrt(sum(((x)-(y))**2))        
    return d

# 1NN - Cars Regression

In [9]:
#Creating Funtion
def car_reg1nn (x):                                        # x_train Input should be given
    p = [] 
    g = []

    for x in range(len(x)):                                # len of xtest will be calculated  
        for i in range(len(x_train)):                      # len of xtrain will be calculated 
            dis = e(x_test.iloc[x],x_train.iloc[i])        # dis function used to calculate distance between Xtrain & xtest
            p.append(dis)                                  # appending distance to list p
        a = p.index(min(p))                                # finding the index for observation 
        g.append(a)                                        # appending the min index to new list g 
        p=[]                                               # empting list p for recording nxt observation
    for f in g:
         print(y_train.iloc[[f]])                          # iloc is used to to print predicted MPG

In [10]:
(car_reg1nn (x_test))                                      #Function for 1NN Cars Regression

      MPG
324  34.3
      MPG
248  22.0
     MPG
73  17.0
      MPG
344  32.4
     MPG
63  26.0
      MPG
348  23.5
      MPG
310  31.8
      MPG
229  17.0
      MPG
257  19.4
      MPG
264  19.4
      MPG
332  44.3
     MPG
15  15.0
     MPG
52  18.0
     MPG
52  18.0
      MPG
280  23.9
     MPG
59  30.0
     MPG
73  17.0
      MPG
264  19.4
      MPG
258  20.2
      MPG
248  22.0
      MPG
338  33.8
      MPG
395  38.0
      MPG
276  30.9
      MPG
375  28.0
      MPG
263  20.5
      MPG
324  34.3
      MPG
352  35.1
     MPG
91  27.0
      MPG
323  19.1
      MPG
190  25.0
      MPG
205  33.0
      MPG
368  30.7
      MPG
263  20.5
      MPG
356  34.1
      MPG
233  20.5
      MPG
267  18.6
      MPG
238  15.5
     MPG
72  14.0
      MPG
241  24.5
      MPG
348  23.5
      MPG
249  21.5
    MPG
11  0.0
      MPG
237  15.5
      MPG
216  19.0
      MPG
176  20.0
     MPG
60  31.0
      MPG
228  17.5
      MPG
394  25.0
      MPG
195  16.0
    MPG
4  17.0
     MPG
46  14.0
      MPG
362  33.7
      MPG
228  17.5
      MPG
289  22.3
      MPG
317  38.1
      MPG
198  22.0
      MPG
105  16.0
      MPG
147  14.0
     MPG
84  22.0
     MPG
41  16.0
      MPG
191  25.0
      MPG
285  31.5
      MPG
180  24.0
     MPG
59  30.0
      MPG
337  40.9
      MPG
292  17.0
      MPG
184  23.0
      MPG
342  35.0
     MPG
76  12.0
      MPG
348  23.5
      MPG
230  15.5
    MPG
4  17.0
     MPG
90  28.0
      MPG
273  30.0
      MPG
289  22.3
      MPG
274  27.5
      MPG
280  23.9
      MPG
398  32.0
     MPG
86  26.0
     MPG
64  24.0
      MPG
101  13.0
      MPG
118  18.0
     MPG
94  13.0
      MPG
255  36.1
      MPG
239  16.0
      MPG
223  31.5
      MPG
329  46.6
      MPG
211  32.0
      MPG
327  37.0
      MPG
182  29.0
      MPG
244  30.5
      MPG
349  30.0
      MPG
344  32.4
      MPG
156  24.0
      MPG
161  15.0
      MPG
195  16.0
      MPG
325  29.8
      MPG
218  16.5
      MPG
111  12.0
     MPG
15  15.0
      MPG
266  20.8
      MPG
328  32.2
     MPG
46  14.0
      MPG
349  30.0
    MPG
4  17.0

# Cars - KNNN_Regression

In [11]:
#Creating Funtion
def Knncarsreg(x,t):
    p = [] 
    g = []
    b= []
    l= []
    u =[]


    for x in range(len(x)):                                # len of xtest will be calculated  
        for i in range(len(x_train)):                      # len of xtrain will be calculated 
            dis = e(x_test.iloc[x],x_train.iloc[i])        # Distance function used to calculate distance between Xtrain & xtest
            p.append(dis)                                  # appending distance to list p 
            v = p.copy()                                   #copying distance into new list v
            v.sort()                                       # Sorting the v list
        for k in v[0:t]:
            yindex = p.index(k)                            # running the for loop to get index from p list
            r = y_train.iloc[yindex]                       #getting the crosserponding values from they_train 
            u.append(r)                                    #appending it to new list u
        he = (sum(u)/len(u))                               #calculating the mean for given k 
        l.append(he)                                       # appending means to new list
        u=[]                                               #empting the all list for new itereation
        p=[]
        v=[]
    #return(pd.DataFrame(l))   
    return((l))                                            #Returning the l list

In [12]:
Knncarsreg(x_test,4)

[MPG    29.6
 dtype: float64,
 MPG    24.45
 dtype: float64,
 MPG    17.925
 dtype: float64,
 MPG    31.975
 dtype: float64,
 MPG    30.575
 dtype: float64,
 MPG    21.175
 dtype: float64,
 MPG    33.9
 dtype: float64,
 MPG    17.15
 dtype: float64,
 MPG    17.025
 dtype: float64,
 MPG    19.275
 dtype: float64,
 MPG    31.325
 dtype: float64,
 MPG    10.75
 dtype: float64,
 MPG    20.0
 dtype: float64,
 MPG    20.375
 dtype: float64,
 MPG    27.725
 dtype: float64,
 MPG    32.75
 dtype: float64,
 MPG    18.325
 dtype: float64,
 MPG    18.475
 dtype: float64,
 MPG    17.65
 dtype: float64,
 MPG    22.2
 dtype: float64,
 MPG    35.85
 dtype: float64,
 MPG    24.1
 dtype: float64,
 MPG    33.025
 dtype: float64,
 MPG    24.75
 dtype: float64,
 MPG    18.25
 dtype: float64,
 MPG    28.075
 dtype: float64,
 MPG    35.8
 dtype: float64,
 MPG    25.25
 dtype: float64,
 MPG    19.525
 dtype: float64,
 MPG    29.0
 dtype: float64,
 MPG    34.65
 dtype: float64,
 MPG    28.1
 dtype: float64,
 MPG    18.25
 dtype: float64,
 MPG    33.925
 dtype: float64,
 MPG    19.525
 dtype: float64,
 MPG    17.525
 dtype: float64,
 MPG    13.875
 dtype: float64,
 MPG    15.0
 dtype: float64,
 MPG    26.15
 dtype: float64,
 MPG    24.425
 dtype: float64,
 MPG    23.8
 dtype: float64,
 MPG    10.625
 dtype: float64,
 MPG    10.625
 dtype: float64,
 MPG    27.875
 dtype: float64,
 MPG    20.0
 dtype: float64,
 MPG    33.0
 dtype: float64,
 MPG    17.475
 dtype: float64,
 MPG    24.325
 dtype: float64,
 MPG    15.75
 dtype: float64,
 MPG    16.775
 dtype: float64,
 MPG    14.75
 dtype: float64,
 MPG    30.275
 dtype: float64,
 MPG    18.525
 dtype: float64,
 MPG    24.075
 dtype: float64,
 MPG    32.025
 dtype: float64,
 MPG    18.5
 dtype: float64,
 MPG    18.225
 dtype: float64,
 MPG    14.25
 dtype: float64,
 MPG    25.4
 dtype: float64,
 MPG    18.85
 dtype: float64,
 MPG    27.475
 dtype: float64,
 MPG    31.4
 dtype: float64,
 MPG    25.75
 dtype: float64,
 MPG    29.725
 dtype: float64,
 MPG    26.1
 dtype: float64,
 MPG    14.25
 dtype: float64,
 MPG    23.975
 dtype: float64,
 MPG    29.95
 dtype: float64,
 MPG    13.5
 dtype: float64,
 MPG    22.3
 dtype: float64,
 MPG    15.75
 dtype: float64,
 MPG    16.775
 dtype: float64,
 MPG    33.525
 dtype: float64,
 MPG    29.975
 dtype: float64,
 MPG    25.675
 dtype: float64,
 MPG    29.875
 dtype: float64,
 MPG    27.475
 dtype: float64,
 MPG    29.7
 dtype: float64,
 MPG    29.325
 dtype: float64,
 MPG    25.475
 dtype: float64,
 MPG    12.5
 dtype: float64,
 MPG    23.425
 dtype: float64,
 MPG    15.5
 dtype: float64,
 MPG    35.8
 dtype: float64,
 MPG    15.75
 dtype: float64,
 MPG    35.075
 dtype: float64,
 MPG    37.9
 dtype: float64,
 MPG    34.55
 dtype: float64,
 MPG    29.975
 dtype: float64,
 MPG    35.4
 dtype: float64,
 MPG    36.275
 dtype: float64,
 MPG    31.8
 dtype: float64,
 MPG    27.85
 dtype: float64,
 MPG    28.1
 dtype: float64,
 MPG    19.825
 dtype: float64,
 MPG    15.75
 dtype: float64,
 MPG    26.7
 dtype: float64,
 MPG    20.5
 dtype: float64,
 MPG    13.0
 dtype: float64,
 MPG    15.0
 dtype: float64,
 MPG    20.5
 dtype: float64,
 MPG    31.4
 dtype: float64,
 MPG    13.0
 dtype: float64,
 MPG    28.25
 dtype: float64,
 MPG    16.775
 dtype: float64]

# Cars - KNNN_classification

In [13]:
#Preparing dat for KNNN_classification
C = r[['Displacement','Weight','Acceleration','Horsepower']] # Collection variable
T =   C.assign(Orgin = o.iloc[:,8])                          #adding orgin
CNew_dataframe = T.sample(406)                               #shuflling and taking sample
CNew_dataframe

     Displacement  Weight  Acceleration  Horsepower   Orgin
108          0.03   -0.09          0.17       -0.21      US
98           1.96    1.75         -1.26        1.15      US
59          -1.02   -1.08         -0.36       -0.68  Europe
400         -0.42   -0.03          0.64       -0.33      US
319         -1.04   -1.13          0.31       -0.95   Japan
..            ...     ...           ...         ...     ...
182         -1.00   -1.23         -0.54       -0.83  Europe
252         -0.92   -1.39         -0.40       -0.93      US
299          1.57    1.13         -0.90        1.15      US
217         -0.37   -0.06         -0.01        0.11   Japan
386         -0.86   -1.01         -0.29       -1.00      US

[406 rows x 5 columns]

In [14]:
x_trainc = CNew_dataframe.iloc[0:300,0:4]            # ilocing 300 observation to train machine
x_testc = CNew_dataframe.iloc[301:407,0:4]           # ilocing 106 observation for testing with 4 variable
y_trainc = CNew_dataframe.iloc[0:300,[4]]            # ilocing 300 observation for crossponding x_train MPG is stored
y_testc = CNew_dataframe.iloc[301:407,[4]]           # ilocing 106 observation for crossponding x_test MPG is stored to accurancy of the model

In [15]:
def carsknnclass(x,t):
    
    p =[] 
    g =[]
    b =[]
    l =[]
    u =[]
    


    for x in range(len(x)):                                 # len of xtest will be calculated  
        for i in range(len(x_trainc)):                      # len of xtrain will be calculated 
            dis = e(x_testc.iloc[x],x_trainc.iloc[i])       # dis function used to calculate distance between Xtrain & xtest
            p.append(dis)                                   # appending distance to list p
            v = p.copy()                                    #copying distance into new list v
            v.sort()                                        # Sorting the v list
        for k in v[:t]:
            yindex = p.index(k)                             # running the for loop to get index from p list
            r = y_trainc.iloc[yindex]                       #getting the crosserponding values from they_train
            u.append(r)                                     #appending it to new list u
            a = pd.DataFrame(u)                             #Converting into DataFrame to calculate mode
        q = a.mode()                                        #calculating the Mode for given k 
        l.append(q)                                         # appending Mode to new list
        u=[]                                                #empting the all list for new itereation
        p=[]
        v=[]
        q=[]

    return l                                                #Returning the l list

In [16]:
carsknnclass(x_test,5)

[   Orgin
 0  Japan,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
    Orgin
 0  Japan,
     Orgin
 0  Europe,
   Orgin
 0    US,
    Orgin
 0  Japan,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
    Orgin
 0  Japan,
    Orgin
 0  Japan,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe
 1      US,
     Orgin
 0  Europe,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
    Orgin
 0  Japan,
     Orgin
 0  Europe
 1   Japan,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
    Orgin
 0  Japan,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
    Orgin
 0  Japan,
     Orgin
 0  Europe
 1      US,
   Orgin
 0    US,
    Orgin
 0  Japan,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
    Orgin
 0  Japan,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
    Orgin
 0  Japan,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
   Orgin
 0    US,
     Orgin
 0  Europe,
    Orgin
 0  Japan
 1     US,
   Orgin
 0    US,
    Orgin
 0  Japan,
    Orgin
 0  Japan
 1     US,
    Orgin
 0  Japan
 1     US,
   Orgin
 0    US,
   Orgin
 0    US,
    Orgin
 0  Japan,
    Orgin
 0  Japan,
   Orgin
 0    US,
    Orgin
 0  Japan,
    Orgin
 0  Japan,
   Orgin
 0    US,
   Orgin
 0    US,
    Orgin
 0  Japan,
   Orgin
 0    US,
    Orgin
 0  Japan,
     Orgin
 0  Europe
 1   Japan,
   Orgin
 0    US,
     Orgin
 0  Europe,
   Orgin
 0    US,
     Orgin
 0  Europe,
     Orgin
 0  Europe,
    Orgin
 0  Japan,
   Orgin
 0    US,
     Orgin
 0  Europe,
     Orgin
 0  Europe
 1   Japan]

# Knn Iris

In [17]:
import os
import numpy as np
import pandas as pd
os.chdir(r'C:\Users\Yogesh\Downloads')
i = pd.read_csv('IRIS.csv')
i

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
SAP = i.sample(150)

In [19]:
x_traini = SAP.iloc[0:100,0:4]                     # ilocing 100 observation to train machine
x_testi = SAP.iloc[100:152,0:4]                    # ilocing 50 observation for testing with 4 variable
y_traini =SAP.iloc[0:100,[4]]                      # ilocing 100 observation for crossponding x_train Species is stored
y_testi = SAP.iloc[101:152,[4]]                    # ilocing 50 observation for crossponding x_test MPG is stored to accurancy of the model

In [20]:
def knniris(x,t):

    p = [] 
    g = []
    b = []
    l = []
    u = []


    for x in range(len(x)):                                 # len of xtest will be calculated  
        for i in range(len(x_traini)):                      # len of xtrain will be calculated 
            dis = e(x_testi.iloc[x],x_traini.iloc[i])       # dis function used to calculate distance between Xtrain & xtest
            p.append(dis)                                   # appending distance to list p
            v = p.copy()                                    #copying distance into new list v
            v.sort()                                        # Sorting the v list
        for k in v[0:t]:
            yindex = p.index(k)
            r = y_traini.iloc[yindex]                       # running the for loop to get index from p list
            u.append(r)                                     #getting the crosserponding values from they_train
            a = pd.DataFrame(u)                             #appending it to new list u
        q = a.mode()                                        #calculating the Mode for given k 
        l.append(q)                                         # appending means to new list
        u=[]                                                #empting the all list for new itereation
        p=[]
        v=[]
        q=[]
    return (np.array(l))                                    #Returning the l array

In [21]:
knniris(x_testi,5)

array([[['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-setosa']],

       [['Iris-setosa']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-setosa']]], dtype=object)

# 1NN Iris

In [22]:
def onenniris(x):
    p = [] 
    g = []
    t = []


    for x in range(len(x)):                                # len of xtest will be calculated  
        for i in range(len(x_traini)):                      # len of xtrain will be calculated 
            dis = e(x_testi.iloc[x],x_traini.iloc[i])        # dis function used to calculate distance between Xtrain & xtest
            p.append(dis)                                  # appending distance to list p
        a = p.index(min(p))                                # finding the index for observation 
        g.append(a)                                        # appending the min index to new list g 
        p=[]                                               # empting list p for recording nxt observation


    for x in g:
        f = y_traini.iloc[[x]]                           # iloc is used to to print predicted Species 
        t.append(f)
    return(np.array(t))

In [23]:
onenniris(x_testi)

array([[['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-setosa']],

       [['Iris-setosa']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-setosa']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-versicolor']],

       [['Iris-versicolor']],

       [['Iris-virginica']],

       [['Iris-setosa']]], dtype=object)