# Simple linear regression

In [3]:
# importing packages
import pandas  as pd
import numpy as np
import os

In [15]:
os.chdir(r'C:\Users\Yogesh\Downloads')             #changing the directory
o  = pd.read_csv('cars.csv')                       # loading data

In [16]:
r  = round((o - o.mean())/o.std(),2)               #standarizing the data
r

,Acceleration,Car,Cylinders,Displacement,Horsepower,MPG,Model,Origin,Weight
0,-1.26,NaN,1.47,1.07,0.65,-0.60,-1.58,NaN,0.62
1,-1.43,NaN,1.47,1.48,1.52,-0.96,-1.58,NaN,0.84
2,-1.61,NaN,1.47,1.17,1.15,-0.60,-1.58,NaN,0.54
3,-1.26,NaN,1.47,1.04,1.15,-0.84,-1.58,NaN,0.54
4,-1.79,NaN,1.47,1.02,0.90,-0.72,-1.58,NaN,0.55
...,...,...,...,...,...,...,...,...,...
401,0.03,NaN,-0.86,-0.52,-0.43,0.47,1.62,NaN,-0.22
402,3.24,NaN,-0.86,-0.93,-1.27,2.49,1.62,NaN,-1.00
403,-1.40,NaN,-0.86,-0.57,-0.48,1.07,1.62,NaN,-0.81
404,1.10,NaN,-0.86,-0.71,-0.61,0.59,1.62,NaN,-0.42
405,1.38,NaN,-0.86,-0.72,-0.53,0.95,1.62,NaN,-0.31

In [6]:
xi  = o["Weight"].sum()                   # sum of weight
xi

1209642

In [7]:
xi_whole =  (xi).sum()                 
xi_whole  = xi_whole**2                   #sum of weight square
xi_whole

1463233768164

In [8]:
xi_sqr  = o["Weight"]**2                  
xi_sqr = np.sum(xi_sqr)                   # summing up then  sqred weight
xi_sqr

3894577674

In [9]:
exy = o["MPG"] * o["Weight"]              #multipliying x & y
exy = np.sum(exy)
exy

25614040.9

In [10]:
yi = o["MPG"].sum()                      # summing up MPG
yi

9358.8

In [11]:
yi_sqr  = o["MPG"]**2                     # squaring the MPG
yi_sqr = np.sum(xi_sqr)                   
yi_sqr

3894577674

In [12]:
n = len(o)                               #lenght of the data
n

406

In [13]:
a = ((yi * xi_sqr) - (xi * exy)) / ((n*(xi_sqr)) - xi_whole ) #implementing in the cramers rule formulae for a
a

46.325305341697934

In [17]:
b = (n*(exy) - (xi)*(yi)) / (n*(xi_sqr) - xi_whole)         #implementing in the cramers rule formulae for b
b

-0.00781162853863321